.pageNotFound {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7.5rem;
    padding-bottom: 7rem;
}
.bigText {
    font-size: 7rem;
    font-weight: 700;
}
.smallText {
    font-size: 44px;
}
img{
    height: 30rem;
}